div{
    width: 150px;
    height: 100px;
    background-color: crimson;
    color: white;
    border: 2px solid black;
    display: inline-block;
}

#box-1{
    background-color: blue;
    position: static;
    top: 100px;
}

#box-2{
    background-color: green;
    position: relative; 
}

#box-3{
    background-color: deepskyblue;
    position: relative
}

#box-5{
}

#container{
    width: 1000px;
    height: 300px;
    border: 4px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}