div{
    width: 100px;
    height: 100px;
    background-color: crimson;
    color: white;
    border: 2px solid black;
    display: inline-block;
}

#box-1{
    background-color: blue;
    background-image: url(butterfly.jpg);
    background-size: contain;

    position: static;
}

p{
    color: white;
}

body{
    background-image: url(landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#box-2{
    background-color: green;
    position: relative; 
}

#box-3{
    background-color: deepskyblue;
    position: relative;
    z-index: -1
    ;
}

#box-4{
    /*position is sticky*/
}